<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body id="body">
    <div class="jumbotron" style="background-color: #dff0d8;">
      <h1 class="display-3 text-center">TRASTEANDO CON VUE</h1>
    </div>

    <div id="app">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#data" role="tab">Vue Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#user" role="tab">Current User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#favorites" role="tab">Favorite Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#binding" role="tab">2 Way Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#list" role="tab">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#varios" role="tab">Varios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#events" role="tab">Events</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- --------------------------- VUE DATA ------------------------------------ -->
        <div class="tab-pane active" id="data" role="tabpanel">
          <%= render "data" %>
        </div>

        <!-- --------------------------- CURRENT USER ------------------------------------ -->
        <div class="tab-pane" id="user" role="tabpanel">
          <%= render "current_user" %>
        </div>

        <!-- --------------------------- FAVORITE RESOURCES ------------------------------------ -->
        <div class="tab-pane" id="favorites" role="tabpanel">
          <%= render "favorite_resources" %>
        </div>

        <!-- --------------------------- 2 WAY DATA BINDING ------------------------------------ -->
        <div class="tab-pane" id="binding" role="tabpanel">
          <%= render "2_way_data_binding" %>
        </div>

        <!-- --------------------------- LIST ------------------------------------ -->
        <div class="tab-pane" id="list" role="tabpanel">
          <%= render "list" %>
        </div>

        <!-- --------------------------- VARIOS ------------------------------------ -->
        <div class="tab-pane" id="varios" role="tabpanel">
          <%= render "varios" %>
        </div>

        <!-- --------------------------- EVENTOS ------------------------------------ -->
        <div class="tab-pane" id="events" role="tabpanel">
          <%= render "events" %>
        </div>

      </div> <!-- tab content -->
      
    </div> <!--  end of Vue instance container -->

<style>
  .clase-1 {
    color: red;
  }
  .clase-2 {
    color: blue;
  }
</style>

  </body>
</html>